<!DOCTYPE html>
<html>
  <head>
    <title>Survey App</title>
  </head>
  <body>
    <div class='page_title'>
      <h1>Survey App</h1>
    </div>
    <div class='messages'>
      <% if session[:success] %>
        <%= session.delete(:success) %>
      <% end %>
      <% if session[:error] %>
        <%= session.delete(:error) %>
      <% end %>
    </div>
    <div class='nav_bar'>
      <ul>
        <li><a href='/'>Home</a></li>
        <li> <a href='/survey'>Survey</a> </li>
        <% if signed_in? %>
          <li> <a href='/results'>Results</a></li>
          <li> <a href='/signout'> Sign out </a></li>
        <% else %>
          <li><a href='/signin'>Sign In</a></li>
        <% end %> 
    </div>
    <%= yield %>
  </body>
</html>