<h3> All Survey Results </h3>

<table>
  <tr>
    <th>ID</th>
    <th>Created On</th>
    <th>Name</th>
    <th>Q1</th>
    <th>Q2</th>
    <th>Q3</th>
  </tr>
  <%= responses_in_rows(@survey_data) %>
</table>