<h3>Dog Survey</h3>
<form action='/survey/submit/' method='post'>
  <label for="name">Name: </label>
  <input type="text" name="name"><br>

  <label for="q1">Is your dog a senior? (10+)</label>
  <input type="radio" id="Yes" name="q1" value="Yes">
  <label for="Yes">Yes</label>
  <input type="radio" id="no" name="q1" value="no">
  <label for="no">No</label><br>

  <label for="q2">Is your dog a male or female?</label>
  <input type="radio" id="Male" name="q2" value="Male">
  <label for="Male">Male</label>
  <input type="radio" id="Female" name="q2" value="Female">
  <label for="Female">Female</label><br>

  <label for="q3">Is your dog adopted?</label>
  <input type="radio" id="Yes" name="q3" value="Yes">
  <label for="Yes">Yes</label>
  <input type="radio" id="no" name="q3" value="no">
  <label for="no">No</label><br>
  <input type="submit" value="Submit form">

</form>